/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*リセットcss*/
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	color: #000;
}

/*clearfix*/
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

/*共通css*/

body {
	font-family: verdana, arial, helvetica, sans-serif;
	margin: 33px;
	line-height: 18px;
	font-size: 13px;
}

table {
	text-align: left; /*表のテキストを左揃え*/
}

th {
	font-weight: normal; /*表のテキストを細字に*/
	height: 26px;
}

/*formの設定*/
label {
	display: block;
	font-size: 15px;
}

.field {
	display: block;
	margin-top: 15px;
}

/*top*/
h1 {
	font-size: 26px;
}

strong {
	font-weight: bold;
}

p {
	margin: 33px;
	line-height: 18px;
}

.top-a-tag {
	text-decoration: underline;
	color: #808080;
}

/*投稿一覧 and 新規投稿作成*/
.books-table {
	margin: 17px 0 0 5px;
	font-size: 13px;
}

thead th {
	text-align: center;
	font-weight: bold;

}

tbody tr {
	padding: 10px 0;
}

.book-body {
	padding: 0 15px;
}


.book-form {
	margin-top: 20px;
}







